# Koneksi database MariaDB/MySQL
# Saat lokal: DATABASE_HOST=localhost
# Saat di docker-compose: DATABASE_HOST = nama service db (mis. "db")
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=secret
DATABASE_NAME=uas-zayaksara

# NextAuth / Auth.js
# AUTH_SECRET: rahasia untuk enkripsi sesi (wajib). Generate: `npx auth secret`
AUTH_SECRET=ganti-dengan-secret-acak-panjang
# URL aplikasi. Lokal: http://localhost:3000 | Produksi: http://IP-AWS-KAMU
NEXTAUTH_URL=http://localhost:3000
AUTH_URL=http://localhost:3000
